<h1><a href="../">MongoNote</a></h1>
<div style="margin-bottom: 20px;"></div>
<form name="display" method="post" action="/display/insert">
    <div>
        <li>divNo
            <select name="divNo">
                <option value="">부서선택</option>
                <option value="div1">div1</option>
                <option value="div2">div2</option>
                <option value="div3">div3</option>
            </select>
        </li>
        <li>pageId <input type="text" name="pageId"/></li>
        <li>pageType
            <select name="pageType">
                <option value="">페이지형식</option>
                <option value="img">이미지</option>
                <option value="data">지표</option>
            </select>
        </li>
        <li><input type="submit" value="Submit"></li>
    </div>
</form>


